/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* line 5, ../scss/sub/_resetcss.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 26, ../scss/sub/_resetcss.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../scss/sub/_resetcss.scss */
body {
  line-height: 1;
}

/* line 33, ../scss/sub/_resetcss.scss */
body, html {
  height: 100%;
  width: 100%;
  font: 400 16px/24px Arial, Helvetica, sans-serif;
}

/* line 38, ../scss/sub/_resetcss.scss */
ol, ul {
  list-style: none;
}

/* line 41, ../scss/sub/_resetcss.scss */
blockquote, q {
  quotes: none;
}

/* line 44, ../scss/sub/_resetcss.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, ../scss/sub/_resetcss.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 54, ../scss/sub/_resetcss.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../scss/sub/_mscrollbar.scss */
.mCustomScrollbar {
  -ms-touch-action: none;
  touch-action: none;
  /* MSPointer events - direct all pointer events to js */
}

/* line 2, ../scss/sub/_mscrollbar.scss */
.mCustomScrollbar.mCS_no_scrollbar {
  -ms-touch-action: auto;
  touch-action: auto;
}

/* line 4, ../scss/sub/_mscrollbar.scss */
.mCustomScrollBox {
  /* contains plugin's markup */
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  outline: none;
  direction: ltr;
}

/* line 13, ../scss/sub/_mscrollbar.scss */
.mCSB_container {
  /* contains the original content */
  overflow: hidden;
  width: auto;
  height: auto;
}

/* line 19, ../scss/sub/_mscrollbar.scss */
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0;
}

/* non-visible scrollbar */
/* line 21, ../scss/sub/_mscrollbar.scss */
.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
  /* RTL direction/left-side scrollbar */
  margin-right: 0;
  margin-left: 30px;
}

/* line 26, ../scss/sub/_mscrollbar.scss */
.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-left: 0;
}

/* RTL direction/left-side scrollbar */
/* line 28, ../scss/sub/_mscrollbar.scss */
.mCSB_scrollTools {
  /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
  position: absolute;
  width: 16px;
  height: auto;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
}

/* line 38, ../scss/sub/_mscrollbar.scss */
.mCSB_outside + .mCSB_scrollTools {
  right: -26px;
}

/* scrollbar position: outside */
/* line 40, ../scss/sub/_mscrollbar.scss */
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  /* RTL direction/left-side scrollbar */
  right: auto;
  left: 0;
}

/* line 46, ../scss/sub/_mscrollbar.scss */
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  left: -26px;
}

/* RTL direction/left-side scrollbar (scrollbar position: outside) */
/* line 48, ../scss/sub/_mscrollbar.scss */
.mCSB_scrollTools .mCSB_draggerContainer {
  /* contains the draggable element and dragger rail markup */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
}

/* line 57, ../scss/sub/_mscrollbar.scss */
.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 20px 0;
}

/* line 59, ../scss/sub/_mscrollbar.scss */
.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

/* line 66, ../scss/sub/_mscrollbar.scss */
.mCSB_scrollTools .mCSB_dragger {
  /* the draggable element */
  cursor: pointer;
  width: 100%;
  height: 30px;
  /* minimum dragger height */
  z-index: 1;
}

/* line 73, ../scss/sub/_mscrollbar.scss */
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  /* the dragger element */
  position: relative;
  width: 4px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  text-align: center;
}

/* line 82, ../scss/sub/_mscrollbar.scss */
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  width: 12px;
  /* auto-expanded scrollbar */
}

/* line 85, ../scss/sub/_mscrollbar.scss */
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  width: 8px;
  /* auto-expanded scrollbar */
}

/* line 88, ../scss/sub/_mscrollbar.scss */
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  display: block;
  position: absolute;
  height: 20px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}

/* line 99, ../scss/sub/_mscrollbar.scss */
.mCSB_scrollTools .mCSB_buttonDown {
  bottom: 0;
}

/* line 101, ../scss/sub/_mscrollbar.scss */
.mCSB_container_wrapper {
  position: absolute;
  height: auto;
  width: auto;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

/* line 114, ../scss/sub/_mscrollbar.scss */
.mCSB_container_wrapper > .mCSB_container {
  padding-right: 30px;
  padding-bottom: 30px;
}

/* line 119, ../scss/sub/_mscrollbar.scss */
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_vertical {
  bottom: 20px;
}

/* line 121, ../scss/sub/_mscrollbar.scss */
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  right: 20px;
}

/* non-visible horizontal scrollbar */
/* line 124, ../scss/sub/_mscrollbar.scss */
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden + .mCSB_scrollTools.mCSB_scrollTools_vertical {
  bottom: 0;
}

/* non-visible vertical scrollbar/RTL direction/left-side scrollbar */
/* line 127, ../scss/sub/_mscrollbar.scss */
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  right: 0;
}

/* RTL direction/left-side scrollbar */
/* line 131, ../scss/sub/_mscrollbar.scss */
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  left: 20px;
}

/* non-visible scrollbar/RTL direction/left-side scrollbar */
/* line 134, ../scss/sub/_mscrollbar.scss */
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  left: 0;
}

/* line 136, ../scss/sub/_mscrollbar.scss */
.mCS-dir-rtl > .mCSB_inside > .mCSB_container_wrapper {
  /* RTL direction/left-side scrollbar */
  margin-right: 0;
  margin-left: 30px;
}

/* line 141, ../scss/sub/_mscrollbar.scss */
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden > .mCSB_container {
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 146, ../scss/sub/_mscrollbar.scss */
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden > .mCSB_container {
  padding-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 151, ../scss/sub/_mscrollbar.scss */
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0;
  /* non-visible scrollbar */
  margin-left: 0;
}

/* non-visible horizontal scrollbar */
/* line 157, ../scss/sub/_mscrollbar.scss */
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden {
  margin-bottom: 0;
}

/* line 159, ../scss/sub/_mscrollbar.scss */
.mCSB_scrollTools,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:after,
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
  -webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
}

/* line 172, ../scss/sub/_mscrollbar.scss */
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail {
  -webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
  -moz-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
  transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
}

/* line 196, ../scss/sub/_mscrollbar.scss */
.mCS-mcc.mCSB_scrollTools {
  width: 10px;
}
/* line 198, ../scss/sub/_mscrollbar.scss */
.mCS-mcc.mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
  background: #b6b6b6;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 205, ../scss/sub/_mscrollbar.scss */
.mCS-mcc.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar:after {
  background: #d8d8d8;
}
/* line 208, ../scss/sub/_mscrollbar.scss */
.mCS-mcc.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 8px;
  padding: 1px 0;
  background: transparent;
}
/* line 213, ../scss/sub/_mscrollbar.scss */
.mCS-mcc.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #d8d8d8;
}
/* line 221, ../scss/sub/_mscrollbar.scss */
.mCS-mcc.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover:after {
  background-color: #ffffff;
}
/* line 225, ../scss/sub/_mscrollbar.scss */
.mCS-mcc.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-mcc.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: transparent;
}

/* ---------------------------------------- */
/* theme: "dark" */
/* line 234, ../scss/sub/_mscrollbar.scss */
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.15);
}

/* line 236, ../scss/sub/_mscrollbar.scss */
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
}

/* line 238, ../scss/sub/_mscrollbar.scss */
.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.85);
}

/* line 240, ../scss/sub/_mscrollbar.scss */
.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.9);
}

/* line 243, ../scss/sub/_mscrollbar.scss */
.mCS-dark.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -80px 0;
}

/* line 245, ../scss/sub/_mscrollbar.scss */
.mCS-dark.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -80px -20px;
}

/* line 247, ../scss/sub/_mscrollbar.scss */
.mCS-dark.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -80px -40px;
}

/* line 249, ../scss/sub/_mscrollbar.scss */
.mCS-dark.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -80px -56px;
}

/* ---------------------------------------- */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?v=4.3.0");
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../fonts/fontawesome/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../fonts/fontawesome/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../fonts/fontawesome/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../scss/sub/_header.scss */
#header {
  position: absolute;
  background: #f1f1f1;
  width: 100%;
  height: 135px;
  top: 0;
  left: 0;
  z-index: 5;
}
/* line 11, ../scss/sub/_header.scss */
#header .top {
  position: relative;
  height: 80px;
}
/* line 15, ../scss/sub/_header.scss */
#header .top .logo {
  position: relative;
  width: 300px;
  font-size: 1.1em;
}
/* line 20, ../scss/sub/_header.scss */
#header .top .logo a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.12s;
  -o-transition-duration: 0.12s;
  -webkit-transition-duration: 0.12s;
  transition-duration: 0.12s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 30, ../scss/sub/_header.scss */
#header .top .logo a img {
  width: 100%;
  height: 90px;
}
/* line 39, ../scss/sub/_header.scss */
#header .top .logo a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 44, ../scss/sub/_header.scss */
#header .top .logo p {
  color: red;
  position: absolute;
}
/* line 50, ../scss/sub/_header.scss */
#header .top .left {
  position: absolute;
  padding-left: 15px;
  left: 0;
  top: 0;
}
/* line 56, ../scss/sub/_header.scss */
#header .top .right {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
/* line 63, ../scss/sub/_header.scss */
#header .bottom {
  position: relative;
  height: 55px;
  line-height: 55px;
  border-top: 1px solid #e1e1e1;
}
/* line 69, ../scss/sub/_header.scss */
#header .bottom .left {
  position: absolute;
  padding-left: 15px;
  left: 0;
  top: 0;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #555555;
  width: 50%;
}
/* line 79, ../scss/sub/_header.scss */
#header .bottom .right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
}
/* line 85, ../scss/sub/_header.scss */
#header .bottom .right .widgets {
  height: 100%;
  position: relative;
  float: right;
}
/* line 90, ../scss/sub/_header.scss */
#header .bottom .right .widgets#quickbuttons ul {
  height: 100%;
}
/* line 93, ../scss/sub/_header.scss */
#header .bottom .right .widgets#quickbuttons ul li {
  float: right;
  height: 100%;
}
/* line 96, ../scss/sub/_header.scss */
#header .bottom .right .widgets#quickbuttons ul li button {
  display: block;
  background: transparent;
  border: none;
  border-left: 1px solid #e1e1e1;
  height: 100%;
  width: 55px;
  text-align: center;
  color: #870e19;
  cursor: pointer;
  outline: none;
  -moz-box-shadow: inset 1px 1px 0px #f9f9f9;
  -webkit-box-shadow: inset 1px 1px 0px #f9f9f9;
  box-shadow: inset 1px 1px 0px #f9f9f9;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.08s;
  -o-transition-duration: 0.08s;
  -webkit-transition-duration: 0.08s;
  transition-duration: 0.08s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 114, ../scss/sub/_header.scss */
#header .bottom .right .widgets#quickbuttons ul li button:hover {
  color: #a9303b;
  background: #f8f8f8;
  -moz-box-shadow: inset 1px 1px 0px #ffffff;
  -webkit-box-shadow: inset 1px 1px 0px #ffffff;
  box-shadow: inset 1px 1px 0px #ffffff;
}
/* line 120, ../scss/sub/_header.scss */
#header .bottom .right .widgets#quickbuttons ul li button.active, #header .bottom .right .widgets#quickbuttons ul li button:active {
  color: #ffffff;
  background: #870e19;
  border-left-color: #650000;
  -moz-box-shadow: inset 1px 1px 0px #a9303b;
  -webkit-box-shadow: inset 1px 1px 0px #a9303b;
  box-shadow: inset 1px 1px 0px #a9303b;
}
/* line 127, ../scss/sub/_header.scss */
#header .bottom .right .widgets#quickbuttons ul li button span {
  display: none;
}
/* line 129, ../scss/sub/_header.scss */
#header .bottom .right .widgets#quickbuttons ul li button:after {
  font-size: 1.5em;
  font-family: FontAwesome;
}
/* line 134, ../scss/sub/_header.scss */
#header .bottom .right .widgets#quickbuttons ul li button.search:after {
  content: "\f002";
}
/* line 139, ../scss/sub/_header.scss */
#header .bottom .right .widgets#main_search {
  display: none;
  width: 30%;
  vertical-align: middle;
  margin-right: 10px;
}
/* line 144, ../scss/sub/_header.scss */
#header .bottom .right .widgets#main_search input {
  width: 100%;
  padding: 0 15px;
  line-height: 36px;
  outline: none;
  font-size: 1em;
  border: 1px solid #d1d1d1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 1, ../scss/sub/_page.scss */
#app {
  width: 100%;
  height: 100%;
  background: #b1b1b1;
  position: relative;
  overflow: hidden;
}
/* line 7, ../scss/sub/_page.scss */
#app #image-background {
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-background-size: 130% 100%;
  -o-background-size: 130% 100%;
  -webkit-background-size: 130% 100%;
  background-size: 130% 100%;
  background-position: 60% 0;
  background-repeat: no-repeat;
  text-indent: -99999em;
}
/* line 18, ../scss/sub/_page.scss */
#app > .page-wrapper > #page {
  position: absolute;
  width: 97%;
  height: 95%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -moz-transition-property: width, height;
  -o-transition-property: width, height;
  -webkit-transition-property: width, height;
  transition-property: width, height;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 32, ../scss/sub/_page.scss */
#app > .page-wrapper > #page > .content {
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 5px solid #d8d8d8;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* line 45, ../scss/sub/_page.scss */
.main-content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 135px;
}
/* line 51, ../scss/sub/_page.scss */
.main-content-wrapper #main_content {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 56, ../scss/sub/_page.scss */
.main-content-wrapper #main_content #main_column_left {
  position: absolute;
  width: 20%;
  height: 100%;
  padding-right: 5px;
  background: rgba(0, 0, 0, 0.78);
}
/* line 63, ../scss/sub/_page.scss */
.main-content-wrapper #main_content #main_column_left:after {
  content: '';
  width: 5px;
  height: 100%;
  background: #870e19;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 73, ../scss/sub/_page.scss */
.main-content-wrapper #main_content #main_column_left footer {
  font: 400 0.9em/20px Arial, Helvetica, sans-serif;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 70px;
  padding: 15px 20px 0 20px;
  border-top: 1px solid #111111;
  color: #777777;
}
/* line 84, ../scss/sub/_page.scss */
.main-content-wrapper #main_content #main_column_left footer h3 {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  color: #870e19;
}
/* line 94, ../scss/sub/_page.scss */
.main-content-wrapper #main_content #main_column_left footer .bottom .left {
  float: left;
}
/* line 98, ../scss/sub/_page.scss */
.main-content-wrapper #main_content #main_column_left footer .bottom .right {
  float: right;
}
/* line 105, ../scss/sub/_page.scss */
.main-content-wrapper #main_content #main_column_left_widgets {
  height: 100%;
  padding-bottom: 70px;
}
/* line 114, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a {
  position: relative;
  display: block;
  padding-left: 15px;
  line-height: 55px;
  border-top: 1px solid #080808;
  border-right: 1px solid #760008;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.95em;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 131, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a:after {
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 2em;
  width: 40px;
  text-align: right;
}
/* line 142, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a.home:after {
  content: "\f015";
}
/* line 143, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a.about:after {
  content: "\f007";
}
/* line 144, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a.portfolio:after {
  content: "\f0b1";
}
/* line 145, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a.freebies:after {
  content: "\f06b";
}
/* line 146, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a.contact:after {
  content: "\f0e6";
}
/* line 148, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a:hover, .main-content-wrapper #main_content ul#main_column_left_navi li a.active {
  background: #870e19;
  border-top-color: #760008;
  color: #fff;
}
/* line 154, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a.active {
  border-right-color: transparent;
}
/* line 156, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a.active:hover {
  background: #870e19;
  border-top-color: #760008;
  cursor: default;
}
/* line 164, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li:first-child a {
  border-top-color: transparent;
}
/* line 170, ../scss/sub/_page.scss */
.main-content-wrapper #main_content #main_column_middle {
  width: 80%;
  position: absolute;
  left: 20%;
  height: 100%;
  overflow: hidden;
  background: #e1e1e1;
}
/* line 178, ../scss/sub/_page.scss */
.main-content-wrapper #main_content #main_column_middle > .content {
  height: 100%;
  position: relative;
}

/* line 5, ../scss/sub/_contentStyles.scss */
#main_column_middle > .content .default h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #bbbbbb;
  color: #870e19;
}
/* line 15, ../scss/sub/_contentStyles.scss */
#main_column_middle > .content .default p {
  display: block;
  padding-bottom: 20px;
}
/* line 21, ../scss/sub/_contentStyles.scss */
#main_column_middle > .content .default .big-title {
  background: #870e19;
  color: #ffffff;
  padding: 51px 30px 23px 30px;
}
/* line 30, ../scss/sub/_contentStyles.scss */
#main_column_middle > .content .default .regular {
  padding: 30px 35px 30px 30px;
}
