/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* line 5, ../scss/sub/_resetcss.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 26, ../scss/sub/_resetcss.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../scss/sub/_resetcss.scss */
body {
  line-height: 1;
}

/* line 33, ../scss/sub/_resetcss.scss */
body, html {
  height: 100%;
  width: 100%;
  font: 400 16px/24px Arial, Helvetica, sans-serif;
}

/* line 38, ../scss/sub/_resetcss.scss */
ol, ul {
  list-style: none;
}

/* line 41, ../scss/sub/_resetcss.scss */
blockquote, q {
  quotes: none;
}

/* line 44, ../scss/sub/_resetcss.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, ../scss/sub/_resetcss.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 54, ../scss/sub/_resetcss.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?v=4.3.0");
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../fonts/fontawesome/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../fonts/fontawesome/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../fonts/fontawesome/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../scss/sub/_header.scss */
#header {
  position: absolute;
  background: #f1f1f1;
  width: 100%;
  height: 135px;
  top: 0;
  left: 0;
  z-index: 5;
}
/* line 11, ../scss/sub/_header.scss */
#header .top {
  position: relative;
  height: 80px;
}
/* line 15, ../scss/sub/_header.scss */
#header .top .logo {
  position: relative;
  width: 300px;
  font-size: 1.1em;
}
/* line 20, ../scss/sub/_header.scss */
#header .top .logo a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.12s;
  -o-transition-duration: 0.12s;
  -webkit-transition-duration: 0.12s;
  transition-duration: 0.12s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 30, ../scss/sub/_header.scss */
#header .top .logo a img {
  width: 100%;
  height: 90px;
}
/* line 39, ../scss/sub/_header.scss */
#header .top .logo a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 44, ../scss/sub/_header.scss */
#header .top .logo p {
  color: red;
  position: absolute;
}
/* line 50, ../scss/sub/_header.scss */
#header .top .left {
  position: absolute;
  padding-left: 15px;
  left: 0;
  top: 0;
}
/* line 56, ../scss/sub/_header.scss */
#header .top .right {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
/* line 63, ../scss/sub/_header.scss */
#header .bottom {
  position: relative;
  height: 55px;
  line-height: 55px;
  border-top: 1px solid #e1e1e1;
}
/* line 69, ../scss/sub/_header.scss */
#header .bottom .left {
  position: absolute;
  padding-left: 15px;
  left: 0;
  top: 0;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #555555;
  width: 50%;
}
/* line 79, ../scss/sub/_header.scss */
#header .bottom .right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
}
/* line 85, ../scss/sub/_header.scss */
#header .bottom .right .widgets {
  height: 100%;
  position: relative;
  width: 25%;
  float: right;
}
/* line 90, ../scss/sub/_header.scss */
#header .bottom .right .widgets#main_search {
  width: 35%;
}
/* line 92, ../scss/sub/_header.scss */
#header .bottom .right .widgets#main_search input {
  position: absolute;
  right: 0;
  top: 0;
  height: 54px;
  width: 100%;
  padding: 0 15px;
  line-height: 55px;
  border: none;
  outline: none;
  font-size: 1em;
}

/* line 1, ../scss/sub/_page.scss */
#app {
  width: 100%;
  height: 100%;
  background: #b1b1b1;
  position: relative;
  overflow: hidden;
}
/* line 7, ../scss/sub/_page.scss */
#app #image-background {
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-background-size: 130% 100%;
  -o-background-size: 130% 100%;
  -webkit-background-size: 130% 100%;
  background-size: 130% 100%;
  background-position: 60% 0;
  background-repeat: no-repeat;
  text-indent: -99999em;
}
/* line 18, ../scss/sub/_page.scss */
#app > .page-wrapper > #page {
  position: absolute;
  width: 92%;
  height: 92%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* line 27, ../scss/sub/_page.scss */
#app > .page-wrapper > #page > .content {
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 5px solid #d8d8d8;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* line 40, ../scss/sub/_page.scss */
.main-content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 135px;
}
/* line 46, ../scss/sub/_page.scss */
.main-content-wrapper #main_content {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 51, ../scss/sub/_page.scss */
.main-content-wrapper #main_content #main_column_left {
  position: absolute;
  width: 20%;
  height: 100%;
  padding-right: 5px;
  background: rgba(0, 0, 0, 0.82);
  border-top: 1px solid #e1e1e1;
}
/* line 58, ../scss/sub/_page.scss */
.main-content-wrapper #main_content #main_column_left:after {
  content: '';
  width: 5px;
  height: 100%;
  background: #870e19;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 68, ../scss/sub/_page.scss */
.main-content-wrapper #main_content #main_column_left footer {
  font: 400 0.9em/20px Arial, Helvetica, sans-serif;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 70px;
  padding: 15px 20px 0 20px;
  border-top: 1px solid #111111;
  color: #777777;
}
/* line 79, ../scss/sub/_page.scss */
.main-content-wrapper #main_content #main_column_left footer h3 {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  color: #870e19;
}
/* line 89, ../scss/sub/_page.scss */
.main-content-wrapper #main_content #main_column_left footer .bottom .left {
  float: left;
}
/* line 93, ../scss/sub/_page.scss */
.main-content-wrapper #main_content #main_column_left footer .bottom .right {
  float: right;
}
/* line 100, ../scss/sub/_page.scss */
.main-content-wrapper #main_content #main_column_left_widgets {
  height: 100%;
  padding-bottom: 70px;
}
/* line 109, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a {
  position: relative;
  display: block;
  padding-left: 15px;
  line-height: 55px;
  border-top: 1px solid #000000;
  border-right: 1px solid #760008;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.95em;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 126, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a:after {
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 2em;
  width: 40px;
  text-align: right;
}
/* line 137, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a.home:after {
  content: "\f015";
}
/* line 138, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a.about:after {
  content: "\f007";
}
/* line 139, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a.portfolio:after {
  content: "\f0b1";
}
/* line 140, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a.freebies:after {
  content: "\f06b";
}
/* line 141, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a.contact:after {
  content: "\f0e6";
}
/* line 143, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a:hover, .main-content-wrapper #main_content ul#main_column_left_navi li a.active {
  background: #870e19;
  border-top-color: #760008;
  color: #fff;
}
/* line 149, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a.active {
  border-right-color: transparent;
}
/* line 151, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li a.active:hover {
  background: #870e19;
  border-top-color: #760008;
  cursor: default;
}
/* line 159, ../scss/sub/_page.scss */
.main-content-wrapper #main_content ul#main_column_left_navi li:first-child a {
  border-top-color: transparent;
}
/* line 165, ../scss/sub/_page.scss */
.main-content-wrapper #main_content #main_column_middle {
  width: 80%;
  position: absolute;
  left: 20%;
  height: 100%;
  overflow: hidden;
  border-top: 1px solid #d8d8d8;
  background: #dfdfdf;
}

/* line 4, ../scss/sub/_contentStyles.scss */
#main_column_middle > .content > .default h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #bbbbbb;
  color: #870e19;
}
/* line 14, ../scss/sub/_contentStyles.scss */
#main_column_middle > .content > .default p {
  display: block;
  padding-bottom: 20px;
}
/* line 20, ../scss/sub/_contentStyles.scss */
#main_column_middle > .content > .default .big-title {
  background: #870e19;
  color: #ffffff;
  padding: 51px 30px 23px 30px;
}
/* line 29, ../scss/sub/_contentStyles.scss */
#main_column_middle > .content > .default .regular {
  padding: 30px;
}
