#main_column_middle {
  .text-style__default {
	h1 {
	  font-size: 2em;
	  font-weight: bold;
	  line-height: 1.2em;
	  padding-bottom: 5px;
	  border-bottom: 1px solid #bbbbbb;
	  color: $color_main_red;
	  margin-bottom: 10px;
	}
	.big-title {
	  background: $color_main_red;
	  color: #ffffff;
	  margin-bottom: 0;
	  font-family: RobotoBlack, sans-serif !important;
	  font-weight: bold;
	  //font-weight: normal;
	  //@include text-shadow(1px 1px #000000);
	  padding: 50px 15px 15px 15px;

	  body.js & {
		@include transition-property(all);
		@include transition-duration(0.4s);
		@include transition-timing-function(ease-in);
	  }

	  @include browser(tabletsmall) {
		padding: 60px 30px 23px 20px;

	  }
	  @include browser(tablet) {
		padding: 91px 25px 34px 25px;
	  }
	  @include browser(laptop) {
		padding: 91px 35px 34px 35px;
	  }
	  @include browser(desktop) {
		padding: 88px 65px 34px 65px;
	  }

	  @include browser(desktoplarge) {
		padding: 71px 65px 34px 65px;
	  }

	  body.js & {
		opacity: 0;
		@include transform(translate(0%, -30%));
		&.loaded {
		  @include transform(translate(0, 0%));
		  opacity: 1;
		}
	  }
	  .gwrapper {
		padding: 0;
		margin: 0;
		max-width: none;
	  }
	}
  }
}

#main_column_middle {
  .gr {
	&.animation {
	  body.js & {
		@include transition-property(opacity, transform);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-in);
		opacity: 0;
		@include transform(translate(-20px, 0px));
		&.loaded {
		  opacity: 1;
		  @include transform(translate(0px, 0px));
		}
	  }
	}
  }
  &.loaded {
	opacity: 1;
  }
  .index {
	.gr.top {
	  //background: #f5f5f5;
	  border-bottom: 1px solid #d2d2d2;
	  margin-bottom: 0;
	  @include browser(tablet) {
		> .g12 {
		  padding: 40px 0;
		}
	  }
	  @include browser(desktop) {
		> .g12 {
		  padding: 70px 0;
		}
	  }
	}
	>.big-title {
	  font-size: 2.2em;
	  text-align: center;
	  //text-transform: uppercase;
	  text-transform: uppercase;
	  @include browser(laptop) {
		padding-top: 65px;
	  }
	  @include browser(laptopplus) {
		font-size: 2.7em;
	  }
	  @include browser(desktop) {
		font-size: 2.9em !important;
		padding-top: 100px;
	  }

	  @include browser(mobiletablet) {
		padding-bottom: 40px;
		background: #000000;
		//padding: 30px;
		//font-size: 1.6em;
		//line-height: 1.6em;
	  }
	}
	> .gr.bottom {

	  body.js & {
		opacity: 0;
		@include transition-property(opacity);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-in);

		&.loaded {
		  opacity: 1;
		}
	  }
	}
  }
}

#personalCounter {
  //@include clearfix;
  font-size: 1.1em;
  &:after { // Clearfix
	content:"";
	display:table;
	clear:both;
  }
  .item {
	position: relative;
	float: left;
	width: 100%;
	background-size: contain;
	font-family: RobotoRegular, sans-serif !important;
	padding: 20px 0 30px 0;
	@include browser(mobile) {
	  //border-bottom: 1px solid #c8c8c8;
	  &:last-child {
		border-bottom: none;
	  }
	}
	@include browser(tablet) {
	  padding: 30px 0;
	  &:nth-child(2) {
		border: 1px solid #c8c9ca;
		border-top: none;
		border-bottom: none;
	  }
	}

	@include browser(desktop) {
	  padding: 50px 0;
	}

	@include transition-property(all);
	@include transition-duration(0.3s);
	@include transition-timing-function(ease-in);

	body.js & {
	  opacity: 0;
	  @-webkit-keyframes rotatetext {
		0%, 100% { -webkit-transform: scale(0.0) }
		100% { -webkit-transform: scale(1.0) }
	  }
	  @keyframes rotatetext {
		0%, 100% {
		  transform: scale(0.0);
		  -webkit-transform: scale(0.0);
		} 100% {
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
		  }
	  }

	  &.spinner span.number {
		-webkit-animation: spin 1.8s 1 ease-in-out;
		animation: spin 1.8s 1 ease-in-out;
		@-webkit-keyframes spin {
		  0%, 100% { -webkit-transform: scale(0.0) rotate(0deg) }
		  100% { -webkit-transform: scale(1.0) rotate(720deg) }
		}

		@keyframes spin {
		  0%, 100% {
			transform: scale(0.0) rotate(0deg);
			-webkit-transform: scale(0.0) rotate(0deg);
		  } 100% {
			  transform: scale(1.0) rotate(720deg);
			  -webkit-transform: scale(1.0) rotate(720deg);
			}
		}
	  }

	  @include browser(laptopwide) {
		&.item-1.perspective {
		  //background:red;
		  @include transform (perspective(500px) rotatey(8deg) translatex(8px));
		}
		&.item-4.perspective {
		  //background:red;
		  @include transform (perspective(500px) rotatey(-8deg) translatex(-8px));
		}
		&.item-2.perspective, &.item-3.perspective {
		  @include transform(scale(0.941,0.941));
		}
	  }

	  &.loaded {opacity: 1;}
	}

	span.number {
	  z-index: 2;
	  display: block;
	  font-size: 6em !important;
	  text-align: center;
	  line-height: 1.3em;
	  font-weight: 200;
	  width: 100%;
	  font-family: RobotoLight, sans-serif !important;
	  @include browser(tablet) {
		font-size: 8em !important;
		line-height: 1.1em;
	  }

	  body.js & {
		-webkit-animation: rotatetext 1.2s 1 ease-in-out;
		animation: rotatetext 1.2s 1 ease-in-out;
	  }

	}

	.description {
	  margin-top: 10px;
	  width: 100%;
	  text-align: center;
	  line-height: 1.1em;
	  font-size: 1.7em;
	  font-family: RobotoLight, sans-serif !important;
	  @include browser(tablet) {
		line-height: 62px;
		font-size: 2em;
	  }
	}

	@include browser(mobilelaptop) {
	  &:nth-child(2n + 1) {
		margin-left: 0;
	  }

	}

	@include browser(laptop) {
	  width: 33.3%;
	}


	@include browser(desktoplarge) {
	  span.number {
		font-size: 7.5em !important;
	  }
	}


	&:first-child {
	  margin-left: 0;
	}

	&.creativity {
	  span.number {
		font-size: 11em !important;
		@include browser(tablet) {
		  font-size: 14em !important;
		}

		@include browser(laptoplaptopwide) {
		  font-size: 11em !important;
		}
	  }
	}
  }
}

.index > .body > .bottom {


  body.js & {
	@include transition-property(all);
	@include transition-duration(0.3s);
	@include transition-timing-function(ease-in);
	@include opacity(0);
	&.loaded {
	  @include opacity(1);
	}
  }
}

.index {
  #helpWith {
	>.item {
	  color: #ffffff;
	  .gwrapper {
		&:after { // Clearfix
		  content:"";
		  display:table;
		  clear:both;
		}
		padding-top: 50px;
		padding-bottom: 50px;

		@include browser(laptopplus) {
		  padding-top: 120px;
		  padding-bottom: 120px;
		}

	  }
	  .gwrapper > .header {
		font-size: 1.1em;
		margin-bottom: 30px;
		font-family: RobotoLight, sans-serif;
		h1 {
		  //text-transform: uppercase;
		  margin-bottom: 0;
		  padding-bottom: 0;
		  font-size: 2.3em;
		  border-bottom: none;
		  color: #ffffff;
		  @include browser(tabletsmall) {
			margin-bottom: 5px;
			font-size: 2.7em;
		  }
		}
		h2 {
		  color: #ff5566;
		  font-size: 1.8em;
		  @include text-shadow(1px 1px rgba(0,0,0,0.2));
		  @include browser(mobile) {
			font-size: 1.3em;
		  }
		}
	  }

	  .content .body {

		@include browser(laptop) {
		  width: 40%;
		  float: left;
		}
		p {
		  line-height: 1.5em;
		  font-size: 1.1em;
		  padding-bottom: 20px;
		  &:last-child {
			@include browser(desktop) {
			  padding-bottom: 0;
			}
		  }
		}
	  }

	  .tldr {
		padding-top: 30px;
		@include browser(laptop) {
		  padding-top: 0;
		  margin-left: 9%;
		  width: 51%;
		  float: left;
		}

		> .header {
		  span.tldr-text {
			display: block;
			font-size: 2em;
			color: #ff5566;
			margin-bottom: 15px;
			font-family: RobotoLight, sans-serif;
		  }
		}
		.items {
		  &:after { // Clearfix
			content:"";
			display:table;
			clear:both;
		  }
		  .item {

			@include browser(mobiletablet) {
			  margin-top: 20px;
			  &:first-child {
				margin-top: 0;
			  }
			}
			@include browser(tablet) {
			  float: left;
			  width: 50%;
			}
			> .header {
			  &.empty {
				display: none;
				@include browser(tablet) {
				  display: block;
				}
			  }
			  h2 {
				font-size: 1.3em;
				//color: #cccccc;
				margin-bottom: 8px;
				font-family: RobotoLight, sans-serif;
			  }
			}
			ul > li {
			  font-size: 1.1em;
			  line-height: 35px;
			  position: relative;
			  &:before {
				content: "\f046";
				font-family: 'FontAwesome';
				font-size: 1.4em;
				position: absolute;
				top: 0;
				left: 0;
			  }
			  span, h3 {
				padding-left: 30px;
			  }
			}
		  }
		}
	  }

	  &.design {
		background: $color_main_red;
	  }
	  &.development {
		background: #060609;
		> .gwrapper {
		  &:after { // Clearfix
			content:"";
			display:table;
			clear:both;
		  }
		  //background: url("../image/code.jpg");
		  background-position: top right;
		  background-repeat: no-repeat;
		}
	  }
	}
  }
}

#edgeOverCompetitors {
  position: relative;
  background: #f5f5f5;
  @include browser(laptop) {
	padding-top: 60%;
	background: url("http://api.saarman.net/sites/default/files/bg-old-computer.jpg");
	background-size: 100% 100%;
	border-bottom: 30px solid #000;
  }
  @include browser(laptopwide) {
	padding-top: 55%;
  }

  @include browser(desktop) {
	padding-top: 45%;
  }
  .content {
	padding: 80px 25px 80px 25px;
	@include browser(tabletsmall) {

	}
	@include browser(laptop) {
	  padding: 70px 0 0 0;
	  position: absolute;
	  top: 30px;
	  left: 25px;
	}
	@include browser(laptopplus) {
	  top: 50px;
	  left: 65px;
	}
	@include browser(desktoplarge) {
	  top: 30px;
	  left: 75px;
	}
  }
  h1 {
	font-family: RobotoBlack, sans-serif !important;
	font-size: 2.2em  !important;
	line-height: 1.1em;
	border-bottom: none  !important;
	@include browser(laptop) {
	  font-size: 2.9em  !important;
	  font-weight: bold;
	  margin-bottom: 45px;
	}
	@include browser(desktoplarge) {
	  font-size: 3.7em  !important;
	}
  }
  h2 {
	font-family: RobotoRegular, sans-serif !important;
	line-height: 1.2em;
	font-size: 1.5em;

	@include browser(laptop) {
	  font-family: RobotoLight, sans-serif !important;
	  font-size: 2.2em;
	}
	@include browser(desktoplarge) {
	  font-size: 2.8em;
	}
	span:last-child {
	  font-family: RobotoRegular, sans-serif;
	}
  }
  @include browser(laptop) {
	span {
	  display: block;
	  text-shadow: 1px 1px 0 rgba(#ffffff, 0.5);
	}
  }
}

#youDeserveTheBest {
  font-family: RobotoLight, sans-serif;
  text-align: center;
  padding: 60px 25px;
  border-bottom: 1px solid #c2c2c2;
  @include browser(tablet) {
	padding: 70px 0;
  }
  @include browser(desktop) {
	padding: 130px 0;
  }
  > h1 {
	display: block;
	font-size: 3em !important;
	border-bottom: none !important;
	color: #000000 !important;
	line-height: 1.4em !important;
	font-weight: normal !important;
	margin-bottom: 0 !important;
	font-family: RobotoLight, sans-serif !important;
	@include browser(mobile) {
	  font-size: 2.9em !important;
	  line-height: 1.1em !important;
	  text-align: left !important;
	}
	@include browser(tablet) {
	  font-size: 4em !important;
	  line-height: 1.5em !important;
	}
  }
  > span {
	font-size: 2em !important;
	color: $color_main_red;
	line-height: 1em;
	font-weight: normal !important;
	@include browser(mobile) {
	  font-size: 2em !important;
	  text-align: left !important;
	  display: block;
	}
	@include browser(tablet) {
	  font-size: 2.4em !important;
	}
  }
}


.me-pic {
  border-bottom: 5px solid #870e19;
  max-width: 30%;
  margin: 0 20px 20px 0;
  @include box-shadow(0 0 15px rgba(0,0,0,0.1));
  //@include border-radius(10%);
  body.js & {
	@include transform(translate(30px, 0));

	@include transition-property(all);
	@include transition-duration(0.3s);
	@include transition-timing-function(ease-in);
  }

  .gr.animation.loaded & {
	@include transform(translate(0px, 0));
  }


  @include browser(mobile) {
	display: block;
	min-width: 85%;
	margin: 0 auto;
	margin-bottom: 20px;
	float: none;
  }
  @include browser(tablet) {
	//margin: -25px 20px 20px -20px;
  };
  @include browser(desktoplarge) {
	max-width: 25%;
  }
  @include browser(mobilelaptop) {
	//display: block;
	//max-width: 60% !important;
	//margin: 0 auto;
  }
}



.redcolor {
  color: $color_main_red !important;
}

.sizem {
  font-size: 1.15em !important;
  @include browser(tablet) {
	font-size: 1.2em !important;
  }
}
.sizel {
  font-size: 1.25em !important;
  @include browser(tablet) {
	font-size: 1.35em !important;
  }
}

.skills-list {
  &:after { // Clearfix
	content:"";
	display:table;
	clear:both;
  }
  background: #ffffff;
  font-size: 1.1em;
  line-height: 1.4em;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
  @include box-shadow(1px 1px 4px rgba(black, 0.1));

  h3 {
	display: block;
	color: $color_main_red;
	font-family: 'UbuntuRegular';
	font-size: 1.2em;
	padding: 18px 20px;
	border-bottom: 1px solid #eeeeee;
  }
  > ul {
	padding: 20px;
	li {
	  list-style-type: square;
	  margin-bottom: 5px;
	  margin-left: 25px;
	  ul {
		margin: 5px 0 10px 0;
	  }
	  li {
		margin-left: 25px;
		list-style-type: circle;
	  }
	}
  }
  //border-bottom: 1px solid #cccccc;

  &:last-child {
	border-bottom: none;
	margin-bottom: 25px;
  }

  &.work-in-action {
	background: $color_main_red;
	h3 {
	  color: #ffffff;
	  border-bottom-color: $color_main_red - #151515;
	  text-align: center;
	  text-transform: uppercase;
	}
	> div {
	  padding: 20px 20px 5px 20px;
	}
	p {
	  color: #ffffff;
	}
	a.view {
	  display: block;
	  position: relative;
	  background: black;
	  padding: 0 20px;
	  text-align: center;
	  color: white !important;
	  margin-bottom: 20px;
	  text-transform: uppercase;
	  line-height: 65px;
	  font-family: 'UbuntuRegular';
	  &:hover {
		background: #222222;
	  }
	  &:before {
		content: "\f113";
		font-family: 'FontAwesome';
		position: absolute;
		top: 0;
		left: 20px;
		font-size: 2em;
	  }
	}
  }

}

.gr header.default > h2 {
  color: $color_main_red;
  font-size: 2.3em !important;
  margin-top: 15px;
}


.text-box {
  background: #000000;
  color: #ffffff;
  padding: 30px 25px;
  font-size: 1.4em;
  font-family: 'UbuntuLight';
  margin: 15px 0 20px 0; // Grid spacing 15px
  line-height: 1.5em;
  width: 90%;
  @include browser(mobile) {
	border-right: 4px solid $color_main_red;

  }

  @include browser(laptop) {
	margin: 10px 0 30px 0;
	padding-left: 35px;
	padding-right: 35px;
	width: 70%;
  }

  @include browser(desktop) {
	margin: 10px 0 30px 0;
  }
  @include browser(desktop) {
	margin: 10px 0 30px 0;
	padding-left: 55px;
	padding-right: 55px;
  }
  p:last-child {
	padding-bottom: 0;
  }
  &:last-child {
	margin-bottom: 0;

	@include browser(mobile) {
	  margin-bottom: 20px;
	}
  }
  p {
	&:last-child {
	  padding-bottom: 0;
	}
  }
}


.text-style__default {
  //background: red;
  font-family: RobotoRegular;
  @include browser(mobile) {
	.about & h2.redcolor.line {
	  color: #000000 !important;
	}
  }

  p {
	display: block;
	padding-bottom: 20px;
	font-size: 1.1em;
	line-height: 1.6em;
  }
  @include browser(tablet) {
	font-size: 1.05em;
  }

  a {
	text-decoration: none;
	color: $color_main_red;
  }

  h1, h2 {
	font-weight: normal;
	line-height: 1.3em;
  }
  h2 {
	font-family: RobotoLight, sans-serif;
	font-size: 1.6em;
	margin-bottom: 15px;
	&.line {
	  border-bottom: 2px solid #cccccc;
	  padding-bottom: 10px;
	}
	@include browser(mobile) {
	  font-size: 1.4em;
	}
  }

  h1 {
	font-family: RobotoBlack, sans-serif;
	font-weight: bold;
	font-size: 2.2em;
	@include browser(mobile) {
	  font-size: 2em;
	}
  }

  h1.title2 {
	border-bottom: none;
	margin-bottom: 0;
  }


  .wide {

  }
  .regular {
	//padding: 30px 35px 30px 30px;
  }
}

#main_column_sidebar {
  display: none;
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid #e8e8e8;
}

.sidebar-open {
  .main-content-wrapper #main_content #main_column_middle,
  .main-content-wrapper #main_content #main_column_left {
	width: 80%;
	left: 20%;
  }
  #main_column_sidebar{
	display: block;
	background: red;
	z-index: 10;
  }
}

.portfolio-list {
  .content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
  }
  a {
	display: block;
	width: 100%;
	height: 100%;
	//@include clearfix;
	@include box-shadow(0px 0px 15px rgba(#000000, 0.08))
  }
  div.thumbnail {
	@include box-shadow(3px 4px 5px rgba(#000000, 0.05));
	border: 5px solid #ffffff;
  }
  article.item {
	position: relative;
	float: left;
	width: 30%;
	margin-left: 3.25%;
	margin-bottom: 3.25%;
	&:nth-child(3n + 2) {
	  margin-top: 3.25%;
	  margin-bottom: 0;
	}
	&:nth-child(3n + 1) {
	  margin-left: 0;
	}
	&:hover {
	  div.header {
		@include transform(translate(0px, 0px));
		@include opacity(1);
	  }
	  .view {
		@include opacity(1);
	  }
	  img {
		@include opacity(0.4)
	  }
	}
  }
  div.header {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	line-height: 1.3em;
	font-size: 1.5em;
	color: #000;
	padding: 40px 0;
	text-align: center;
	background: #ffffff;
	font-family: RobotoLight, sans-serif;
	@include transition-property(all);
	@include transition-duration(0.25s);
	@include transition-timing-function(ease-in);
	@include transform(translate(0px, -5px));
	@include opacity(0);
  }
  img {
	display: block;
	height: 100%;
	width: 100%;
	@include opacity(1);
	@include transition-property(opacity);
	@include transition-duration(0.25s);
	@include transition-timing-function(ease-in);
  }
  .view {
	position: absolute;
	z-index: 1;
	top: 40%;
	left: 0;
	width: 100%;
	text-align: center;
	opacity: 0;
	@include transition-property(opacity);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease-in);
	span {
	  display: inline-block;
	  text-transform: uppercase;
	  background: #ffffff;
	  border: 4px solid #ffffff;
	  padding: 13px 40px;
	  font-family: RobotoBlack, sans-serif;
	  color: #000;
	  @include box-shadow(0px 0px 10px rgba(black, 0.1));
	}
  }

}