.example-enter {
	opacity: 0.01;
	transition: opacity 8s ease-in;
}

.example-enter.example-enter-active {
	opacity: 1;
}

#main_column_middle {
	.gwrapper {
		h1 {
			font-size: 2em;
			font-weight: bold;
			line-height: 1.2em;
			padding-bottom: 5px;
			border-bottom: 1px solid #bbbbbb;
			color: $color_main_red;
			margin-bottom: 10px;
		}
		.big-title {
			background: $color_main_red;
			color: #ffffff;
			padding: 51px 30px 23px 30px;
			margin-bottom: 0;
			opacity: 0;
			font-family: UbuntuRegular, sans-serif;
			//font-weight: normal;
			//@include text-shadow(1px 1px #000000);
			@include transition-property(all);
			@include transition-duration(0.4s);
			@include transition-timing-function(ease-in);
			@include transform(translate(0%, -30%));

			&.loaded {
				@include transform(translate(0, 0%));
				opacity: 1;
			}
			@include browser(tabletsmalllaptopplus) {
				//font-size: 1.8em !important;
				padding: 77px 15px 24px 15px;
				font-size: 2.1em;
			}

			@include browser(desktoplarge) {
				height: 121px;
				line-height: 40px;
			}
		}
	}
	> .content {
		.default {
			//background: red;

			p {
				display: block;
				padding-bottom: 20px;

			}

			.wide {

			}
			.regular {
				//padding: 30px 35px 30px 30px;
			}
			@include browser(desktoplarge) {
				font-size: 1.1em;
			}

			@include browser(desktopextreme) {
				font-size: 1.2em;
			}
		}
	}
}

#main_column_middle {
	.gwrapper {
		.gr {
			&.animation {
				opacity: 0;
				@include transition-property(opacity);
				@include transition-duration(0.3s);
				@include transition-timing-function(ease-in);
				&.loaded {
					opacity: 1;
				}
			}
		}
		&.loaded {
			opacity: 1;
		}
		&.index {
			>.big-title {
				font-size: 2em;
				text-align: center;
				text-transform: uppercase;
				@include browser(desktop) {
					font-size: 2.5em;
					height: 121px;
					line-height: 40px;
				}

				@include browser(mobile) {
					background: #000000;
					//padding: 30px;
					//font-size: 1.6em;
					//line-height: 1.6em;
				}
			}
			> .gr.bottom {
				opacity: 0;
				@include transition-property(opacity);
				@include transition-duration(0.3s);
				@include transition-timing-function(ease-in);

				&.loaded {
					opacity: 1;
				}
			}
		}
	}

}

#personalCounter {
	//@include clearfix;
	&:after { // Clearfix
		content:"";
		display:table;
		clear:both;
	}
	@include browser(laptopwide) {
		border-bottom: 10px solid #d8d8d8;
		padding-bottom: 20px;
	}
	.item {
		position: relative;
		float: left;
		margin-left: 3%;
		width: 48.5%;
		padding-top: 28%;
		margin-bottom: 80px;
		opacity: 0;
		background-color: $color_main_red;
		background-size: contain;

		&.loaded {opacity: 1;}
		&.item-1 { background-image: url('../image/bigredbox.jpg'); }
		&.item-2 { background-image: url('../image/bigredbox2.jpg'); }
		&.item-3 { background-image: url('../image/bigredbox.jpg'); }
		&.item-4 { background-image: url('../image/bigredbox2.jpg'); }
		@include transition-property(all);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-in);
		h2 {
			position: absolute;
			z-index: 2;
			display: block;
			color: #ffffff;
			font-size: 8em;
			font-weight: bold;
			text-align: center;
			width: 100%;
			top: 50%;
			font-family: UbuntuRegular, sans-serif;
			-webkit-animation: rotatetext 1.2s 1 ease-in-out;
			animation: rotatetext 1.2s 1 ease-in-out;

		}
		@include browser(laptopwide) {
			&.item-1.perspective {
				//background:red;
				@include transform (perspective(500px) rotatey(8deg) translatex(8px));
			}
			&.item-4.perspective {
				//background:red;
				@include transform (perspective(500px) rotatey(-8deg) translatex(-8px));
			}
			&.item-2.perspective, &.item-3.perspective {
				@include transform(scale(0.941,0.941));
			}
		}
		@-webkit-keyframes rotatetext {
			0%, 100% { -webkit-transform: scale(0.0) }
			100% { -webkit-transform: scale(1.0) }
		}
		@keyframes rotatetext {
			0%, 100% {
				transform: scale(0.0);
				-webkit-transform: scale(0.0);
			} 100% {
				  transform: scale(1.0);
				  -webkit-transform: scale(1.0);
			  }
		}

		&.spinner h2 {
			-webkit-animation: spin 1.8s 1 ease-in-out;
			animation: spin 1.8s 1 ease-in-out;
			@-webkit-keyframes spin {
				0%, 100% { -webkit-transform: scale(0.0) rotate(0deg) }
				100% { -webkit-transform: scale(1.0) rotate(720deg) }
			}

			@keyframes spin {
				0%, 100% {
					transform: scale(0.0) rotate(0deg);
					-webkit-transform: scale(0.0) rotate(0deg);
				} 100% {
					  transform: scale(1.0) rotate(720deg);
					  -webkit-transform: scale(1.0) rotate(720deg);
				  }
			}
		}
		.description {
			position: absolute;
			bottom: -60px;
			left: 0;
			width: 100%;
			background: black;
			line-height: 62px;
			color: #ffffff;
			text-transform: uppercase;
			text-align: center;
			font-size: 1.1em;
			font-weight: bold;
		}
		@include browser(mobilelaptop) {
			&:nth-child(2n + 1) {
				margin-left: 0;
			}
		}


		h2 {
			font-size: 7em;
		}

		@include browser(laptop) {
			width: 23.5%;
			margin-left: 2%;
			padding-top: 18.5%;
			.description {
				font-size: 1em;
			}
		}


		@include browser(desktoplarge) {
			h2 {
				font-size: 9em;
			}
		}


		&:first-child {
			margin-left: 0;
		}

		@include browser(mobile) {
			margin-left: 0;
			width: 100%;
			padding-top: 59%;

		}
		@include browser(laptopplus) {
			.description {
				font-size: 1em;
			}
		}

		&.creativity {
			h2 {
				@include browser(mobile) {
					font-size: 9em;
				}
				font-size: 14em;
			}
		}
	}
}

.index.default {
	#helpWith {
		margin-top: 50px;
		//background: $color_main_red;
		min-height: 500px;
		ul {
			padding: 2%;
			li {
				position: relative;
				&:first-child {
				}
				.item {

				}
			}
		}
	}
}

#youDeserveTheBest {
	font-family: 'UbuntuRegular';
	text-align: center;
	margin-top: 30px;
	> h1 {
		display: block;
		font-size: 2.6em !important;
		border-bottom: none !important;
		color: #333333 !important;
		line-height: 28px !important;
		font-weight: normal !important;

	}
	> h2 {
		font-size: 1.3em;
		color: $color_main_red;
		font-weight: normal !important;
	}
}