#main_column_middle {
	.gwrapper {
		h1 {
			font-size: 2em;
			font-weight: bold;
			line-height: 1.2em;
			padding-bottom: 5px;
			border-bottom: 1px solid #bbbbbb;
			color: $color_main_red;
			margin-bottom: 10px;
		}
		.big-title {
			background: $color_main_red;
			color: #ffffff;
			margin-bottom: 0;
			font-family: UbuntuRegular, sans-serif !important;
			//font-weight: normal;
			//@include text-shadow(1px 1px #000000);
			padding: 50px 15px 15px 15px;
			@include transition-property(all);
			@include transition-duration(0.4s);
			@include transition-timing-function(ease-in);

			@include browser(tabletsmall) {
				padding: 51px 30px 23px 30px;
			}

			body.js & {
				opacity: 0;
				@include transform(translate(0%, -30%));
				&.loaded {
					@include transform(translate(0, 0%));
					opacity: 1;
				}
			}

			@include browser(tabletsmalllaptopplus) {
				//font-size: 1.8em !important;
				padding: 77px 15px 24px 15px;
				font-size: 2.1em;
			}

			@include browser(desktoplarge) {
				min-height: 121px;
				line-height: 40px;
			}
		}
	}
	> .content {
		.default {
			//background: red;

			@include browser(mobile) {
				.about & h2.redcolor.line {
					color: #000000 !important;
				}
			}

			p {
				display: block;
				padding-bottom: 20px;
				font-size: 1.05em;
				line-height: 1.6em;
			}

			a {
				text-decoration: none;
				color: $color_main_red;
			}

			h1, h2 {
				font-family: 'UbuntuLight';
				font-weight: normal;
				line-height: 1.3em;
			}
			h2 {
				font-size: 1.6em;
				margin-bottom: 15px;
				&.line {
					border-bottom: 2px solid #cccccc;
					padding-bottom: 10px;
				}
				@include browser(mobile) {
					font-size: 1.4em;
				}
			}

			h1 {
				font-size: 2.2em;
				@include browser(mobile) {
					font-size: 2em;
				}
			}

			h1.title2 {
				border-bottom: none;
				margin-bottom: 0;
			}

			.text-box {
				background: #000000;
				color: #ffffff;
				padding: 30px 25px;
				font-size: 1.3em;
				font-family: 'UbuntuLight';
				margin: 15px 0 20px -15px; // Grid spacing 15px
				line-height: 1.5em;
				width: 90%;
				@include browser(mobile) {
					border-right: 4px solid $color_main_red;

				}

				@include browser(laptop) {
					margin: 10px 0 30px -25px;
					width: 70%;
				}

				@include browser(desktop) {
					margin: 10px 0 30px -35px;
				}
				p:last-child {
					padding-bottom: 0;
				}
				&:last-child {
					margin-bottom: 0;

					@include browser(mobile) {
						margin-bottom: 20px;
					}
				}
			}

			.wide {

			}
			.regular {
				//padding: 30px 35px 30px 30px;
			}
			@include browser(desktopextreme) {
				font-size: 1.1em;
			}
		}
	}
}

#main_column_middle {
	.gwrapper {
		.gr {
			&.animation {
				@include transition-property(opacity, transform);
				@include transition-duration(0.3s);
				@include transition-timing-function(ease-in);

				body.js & {
					opacity: 0;
					@include transform(translate(-20px, 0px));
					&.loaded {
						opacity: 1;
						@include transform(translate(0px, 0px));
					}
				}
			}
		}
		&.loaded {
			opacity: 1;
		}
		&.index {
			>.big-title {
				font-size: 2em;
				text-align: center;
				text-transform: uppercase;
				@include browser(desktop) {
					font-size: 2.5em;
					height: 121px;
					line-height: 40px;
				}

				@include browser(mobile) {
					background: #000000;
					//padding: 30px;
					//font-size: 1.6em;
					//line-height: 1.6em;
				}
			}
			> .gr.bottom {

				body.js & {
					opacity: 0;
					@include transition-property(opacity);
					@include transition-duration(0.3s);
					@include transition-timing-function(ease-in);

					&.loaded {
						opacity: 1;
					}
				}
			}
		}
	}

}

#personalCounter {
	//@include clearfix;
	font-size: 1.1em;
	&:after { // Clearfix
		content:"";
		display:table;
		clear:both;
	}
	border-bottom: 10px solid #d8d8d8;
	padding-bottom: 5px;
	@include browser(tabletsmall) {
		padding-bottom: 20px;
	}
	.item {
		position: relative;
		float: left;
		margin-left: 3%;
		width: 48.5%;
		padding-top: 28%;
		margin-bottom: 80px;
		background-color: $color_main_red;
		background-size: contain;

		&.item-1 { background-image: url('../image/bigredbox.jpg'); }
		&.item-2 { background-image: url('../image/bigredbox2.jpg'); }
		&.item-3 { background-image: url('../image/bigredbox.jpg'); }
		&.item-4 { background-image: url('../image/bigredbox2.jpg'); }
		@include transition-property(all);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-in);

		body.js & {
			opacity: 0;
			@-webkit-keyframes rotatetext {
				0%, 100% { -webkit-transform: scale(0.0) }
				100% { -webkit-transform: scale(1.0) }
			}
			@keyframes rotatetext {
				0%, 100% {
					transform: scale(0.0);
					-webkit-transform: scale(0.0);
				} 100% {
					  transform: scale(1.0);
					  -webkit-transform: scale(1.0);
				  }
			}

			&.spinner span.number {
				-webkit-animation: spin 1.8s 1 ease-in-out;
				animation: spin 1.8s 1 ease-in-out;
				@-webkit-keyframes spin {
					0%, 100% { -webkit-transform: scale(0.0) rotate(0deg) }
					100% { -webkit-transform: scale(1.0) rotate(720deg) }
				}

				@keyframes spin {
					0%, 100% {
						transform: scale(0.0) rotate(0deg);
						-webkit-transform: scale(0.0) rotate(0deg);
					} 100% {
						  transform: scale(1.0) rotate(720deg);
						  -webkit-transform: scale(1.0) rotate(720deg);
					  }
				}
			}

			@include browser(laptopwide) {
				&.item-1.perspective {
					//background:red;
					@include transform (perspective(500px) rotatey(8deg) translatex(8px));
				}
				&.item-4.perspective {
					//background:red;
					@include transform (perspective(500px) rotatey(-8deg) translatex(-8px));
				}
				&.item-2.perspective, &.item-3.perspective {
					@include transform(scale(0.941,0.941));
				}
			}

			&.loaded {opacity: 1;}
		}

		span.number {
			position: absolute;
			z-index: 2;
			display: block;
			color: #ffffff;
			font-size: 9em !important;
			font-weight: bold !important;
			text-align: center;
			line-height: 0 !important;
			width: 100%;
			top: 50%;
			font-family: UbuntuRegular, sans-serif !important;
			body.js & {

				-webkit-animation: rotatetext 1.2s 1 ease-in-out;
				animation: rotatetext 1.2s 1 ease-in-out;
			}

		}

		.description {
			position: absolute;
			bottom: -60px;
			left: 0;
			width: 100%;
			background: black;
			line-height: 62px;
			color: #ffffff;
			text-transform: uppercase;
			text-align: center;
			font-size: 1.1em;
			font-weight: bold;
		}
		@include browser(mobilelaptop) {
			&:nth-child(2n + 1) {
				margin-left: 0;
			}
		}


		span.number {
			font-size: 7em !important;

			@include browser(laptoplaptopwide) {
				font-size: 5em !important;
			}
		}




		@include browser(laptop) {
			width: 23.5%;
			margin-left: 2%;
			padding-top: 18.5%;
			.description {
				font-size: 1em;
			}
		}


		@include browser(desktoplarge) {
			span.number {
				font-size: 9em !important;
			}
		}


		&:first-child {
			margin-left: 0;
		}

		@include browser(mobile) {
			margin-left: 0;
			width: 100%;
			padding-top: 59%;

		}

		@include browser(laptoplaptopwide) {
			.description {
				font-size: 0.8em;
			}
		}


		@include browser(laptopwide) {
			.description {
				font-size: 1em;
			}
		}

		&.creativity {
			span.number {
				font-size: 14em !important;
				@include browser(mobile) {
					font-size: 9em !important;
				}

				@include browser(laptoplaptopwide) {
					font-size: 11em !important;
				}
			}
		}
	}
}

.index > .body > .bottom {

	@include transition-property(all);
	@include transition-duration(0.3s);
	@include transition-timing-function(ease-in);
	body.js & {
		@include opacity(0);
		&.loaded {
			@include opacity(1);
		}
	}
}

.index.default {
	#helpWith {
		margin-top: 45px;
		@include browser(tablet) {
			margin-top: 70px;
		}
		>.item {
			color: #ffffff;
			.wrapper {
				&:after { // Clearfix
					content:"";
					display:table;
					clear:both;
				}
				padding: 30px 15px;

				@include browser(tabletsmall) {
					padding: 30px 20px;
				}

				@include browser(laptop) {
					padding: 90px 35px 110px 35px;
				}

			}
			.wrapper > .header {
				font-size: 1.1em;
				margin-bottom: 30px;
				font-family: 'UbuntuLight';
				h1 {
					//text-transform: uppercase;
					margin-bottom: 0;
					padding-bottom: 0;
					font-weight: normal;
					font-size: 2.2em;
					border-bottom: none;
					color: #ffffff;
					@include browser(tabletsmall) {
						margin-bottom: 5px;
						font-size: 2.5em;
					}
				}
				h2 {
					color: #ff5566; 
					font-size: 1.4em;
					@include text-shadow(1px 1px rgba(0,0,0,0.2)); 
					@include browser(mobile) {
						font-size: 1.3em;
					}
				}
			}

			.content .body {

				@include browser(laptop) {
					width: 40%;
					float: left;
				}
				p {
					line-height: 1.5em;
					font-size: 1.1em;
					&:last-child {
						@include browser(desktop) {
							padding-bottom: 0;
						}
					}
				}
			}

			.tldr {
				@include browser(laptop) {
					margin-left: 6%;
					width: 54%;
					float: left;
				}

				> .header {
					h2 {
						font-size: 1.8em;
						color: #ff5566;
						margin-bottom: 15px;
						font-family: 'UbuntuLight';
					}
				}
				.items {
					&:after { // Clearfix
						content:"";
						display:table;
						clear:both;
					}
					.item {

						@include browser(mobiletablet) {
							margin-top: 20px;
							&:first-child {
								margin-top: 0;
							}
						}
						@include browser(tablet) {
							float: left;
							width: 50%;
						}
						> .header {
							&.empty {
								display: none;
								@include browser(tablet) {
									display: block;
								}
							}
							h2 {
								font-size: 1.3em;
								//color: #cccccc;
								margin-bottom: 8px;
								font-family: 'UbuntuLight';
							}
						}
						ul > li {
							font-size: 1.1em;
							line-height: 35px;
							position: relative;
							&:before {
								content: "\f046";
								font-family: 'FontAwesome';
								font-size: 1.4em;
								position: absolute;
								top: 0;
								left: 0;
							}
							span {
								padding-left: 30px;
							}
						}
					}
				}
			}

			&.design {
				background: $color_main_red;
			}
			&.development {
				background: #060609;
				> .wrapper {
					&:after { // Clearfix
						content:"";
						display:table;
						clear:both;
					}
					//background: url("../image/code.jpg");
					background-position: top right;
					background-repeat: no-repeat;
				}
			}
		}
	}
}

#youDeserveTheBest {
	font-family: 'UbuntuLight';
	text-align: center;
	margin-top: 20px;
	@include browser(tablet) {
		margin-top: 20px;
	}
	> h1 {
		display: block;
		font-size: 3.5em !important;
		border-bottom: none !important;
		color: #333333 !important;
		line-height: 1.2em !important;
		font-weight: normal !important;
		margin-bottom: 0 !important;

		@include browser(mobile) {
			font-size: 1.9em !important;
		}
	}
	> span {
		font-size: 2.4em !important;
		color: $color_main_red;
		line-height: 1em;
		font-weight: normal !important;
		@include browser(mobile) {
			font-size: 1.5em !important;
		}
	}
}

.me-pic {
	border-bottom: 5px solid #870e19;
	float: right;
	max-width: 30%;
	margin-left: 30px;
	margin-bottom: 20px;
	@include border-radius(10%);
	body.js & {
		@include transform(translate(30px, 0));

		@include transition-property(all);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-in);
	}

	.gr.animation.loaded & {
		@include transform(translate(0px, 0));
	}


	@include browser(mobile) {
		display: block;
		min-width: 85%;
		margin: 0 auto;
		margin-bottom: 20px;
		float: none;
	}
	@include browser(desktoplarge) {
		max-width: 25%;
	}
	@include browser(mobilelaptop) {
		//display: block;
		//max-width: 60% !important;
		//margin: 0 auto;
	}
}



.redcolor {
	color: $color_main_red !important;
}

.sizem {
	font-size: 1.15em !important;
}
.sizel {
	font-size: 1.25em !important;
}

.skills-list {
	&:after { // Clearfix
		content:"";
		display:table;
		clear:both;
	}
	background: #ffffff;
	font-size: 1.1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	border: 1px solid #e1e1e1;

	h3 {
		display: block;
		color: $color_main_red;
		font-family: 'UbuntuRegular';
		font-size: 1.2em;
		padding: 18px 20px;
		border-bottom: 1px solid #eeeeee;
	}
	> ul {
		padding: 20px;
		li {
			list-style-type: square;
			margin-bottom: 5px;
			margin-left: 25px;
			ul {
				margin: 5px 0 10px 0;
			}
			li {
				margin-left: 25px;
				list-style-type: circle;
			}
		}
	}
	//border-bottom: 1px solid #cccccc;

	&:last-child {
		border-bottom: none;
		margin-bottom: 10px;
	}

}

.gr > header.default > h2 {
	color: $color_main_red;
	font-size: 2.2em !important;
}