#header {
   $height: 135px;
   position: fixed;
   background: #f1f1f1;
   width: 100%;
   height: $height - 60px;
   top: 0;
   left: 0;
   z-index: 5;
   border-bottom: 1px solid #d3d3d3;

   @include browser(tabletsmall) {
      position: absolute;
      height: $height;
      border-bottom: none;
   }

   @include browser(desktopextreme) {
      height: $height + 20px;
   }

   .top {
      position: relative;
      height: $height - 55px;
      z-index: 5;
      @include browser(mobile) {
         width: 90px;
      }
      @include browser(desktopextreme) {
         height: $height - 35px;
      }

      .logo {
         position: relative;
         font-size: 1.1em;
         @include browser(desktopextreme) {
            width: 400px;
         }

         a {
            //position: absolute;
            //top: 0;
            //left: 0;
            display: block;
            width: 100%;
            color: #000000;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            //> span {
            height: $height - 55px;
            background-image: url('../image/logo-dark.svg');
            background-size: 90% 100%;
            background-repeat: no-repeat;
            text-indent: -99999em;
            //}
            @include browser(mobile) {
               width: 65px;
               height: 70px;
               background-size: cover;

            }

            @include browser(desktopextreme) {
               height: $height - 35px;
            }

            @include opacity(1);
            @include transition-property(all);
            @include transition-duration(0.12s);
            @include transition-timing-function(ease-in);

            &:hover {
               @include opacity(0.6);
            }
         }

         p {
            color: red;
            position: absolute;
         }
      }

      .left {
         position: absolute;
         padding-left: 10px;
         padding-top: 2px;
         left: 0;
         top: 0;
         @include browser(tabletsmall) {
            padding-left: 15px;
            padding-top: 0;
         }
      }
      .right {
         position: absolute;
         top: 0;
         right: 0;
         button#fullscreen {
            position: absolute;
            top: 0;
            right: 0;
            width: 35px;
            line-height: 35px;
            border: none;
            background: none;
            cursor: pointer;
            outline: none;
            display: none;
            span { display: none; }
            @include browser(laptopplus) {
               display: block;
            }
            &:hover:after {
               color: #bbbbbb;
            }

            .fullscreen-open &:after {
               content: "\f066";
               color: #bbbbbb;
            }
            &:after {
               content: "\f065";
               font-family: FontAwesome;
               font-size: 1.6em;
               color: $color_main_red;
               //color: $color_main_red;
            }

         }
      }
   }
   .bottom {
      position: relative;
      @include browser(mobile) {
         position: absolute;
         top: 0;
         right: 0;
         width: 100%;
         height: 100%;
      }

      @include browser(tabletsmall) {
         height: 55px;
         line-height: 55px;
         border-top: 1px solid #e1e1e1;
      }

      .left {
         position: absolute;
         padding-left: 15px;
         left: 0;
         top: 0;
         text-transform: uppercase;
         font-size: 0.9em;
         color: #444444;
         width: 50%;
         display: none;

         @include browser(desktop) {
            font-size: 1em;
         }
         @include browser(tabletsmall) {
            display: block;
         }

      }
      .right {

         @include browser(tabletsmall) {
            position: absolute;
            top: -100%;
            right: 0;
            height: 100%;
            width: 100%;
            width: 50%;
            top: 0;
         }
         .widgets {
            height: 100%;
            &#quickbuttons {
               ul {
                  //background: blue;
                  //height: 100%;
                  li {
                     float: right;
                     button {
                        position: relative;
                        z-index: 1;
                        display: block;
                        background: transparent;
                        border: none;
                        border-left: 1px solid #e1e1e1;
                        height: 99%;
                        width: 55px;
                        text-align: center;
                        color: $color_main_red;
                        cursor: pointer;
                        outline: none;
                        @include box-shadow(inset 1px 1px 0px #f9f9f9);


                        @include transition-property(all);
                        @include transition-duration(0.15s);
                        @include transition-timing-function(ease-in);

                        &:hover {
                           color: $color_main_red + #222222;
                           background: #f8f8f8;
                           @include box-shadow(inset 1px 1px 0px #ffffff);
                        }

                        &.active, &:active {
                           color: #ffffff;
                           background: $color_main_red;
                           border-left-color: $color_main_red - #222222;
                           @include box-shadow(inset 1px 1px 0px $color_main_red + #222222);
                        }

                        span { display: none; }

                        &:after {
                           font-size: 1.5em;
                           font-family: FontAwesome;
                        }

                        &.search:after { content: "\f002"; }
                        &.mobilenavi{
                           @include browser(tabletsmall) {display: none}
                           &:after { content: "\f037"; }
                        }
                     }
                     &.active {
                        button {
                           color: #ffffff;
                           background: $color_main_red;
                           border-left-color: $color_main_red - #222222;
                           @include box-shadow(inset 1px 1px 0px $color_main_red + #222222);
                           &:hover {
                              background: $color_main_red + #111111;
                              &:before {
                                 color: $color_main_red + #111111;
                              }
                           }

                           &:before {
                              content: "\f0d7";
                              position: absolute;
                              z-index: 1;
                              top: 100%;
                              right: 0;
                              left: 0;
                              font-family: FontAwesome;
                              font-size: 3em;
                              line-height: 0.2em;
                              color: $color_main_red;
                           }
                        }
                     }
                  }
               }
               .widget {

                  @include opacity(0);
                  @include transform(translate(0px, -15px));

                  @include transition-property(all);
                  @include transition-duration(0.2s);
                  @include transition-timing-function(ease-in);


                  > .wrapper {
                     // Default values?
                     position: relative;
                     background: #f1f1f1;
                     border: 1px solid #e5e5e5;
                     border-right: none;
                     padding: 12px 12px 5px 12px;
                     @include box-shadow(inset 1px 1px 0px #fafafa);

                     &.search-widget {
                        width: 100%;
                        float: right;
                        @include browser(tabletsmall) {
                           max-width: 400px;
                        }
                        input {
                           line-height: 40px;
                           background: #ffffff;
                           border: 1px solid #e5e5e5;
                           padding: 0 10px;
                           vertical-align: middle;
                           outline: none;
                           width: 85%;
                           font-size: 1.2em;
                        }
                        button {
                           position: relative;
                           width: 15%;
                           height: 40px;
                           line-height: 40px;
                           vertical-align: middle;
                           border: none;
                           background: $color_main_red;
                           color: #ffffff;
                           outline: none;
                           cursor: pointer;
                           &:hover {
                              background: $color_main_red + #111111;
                           }

                           &:after {

                              position: absolute;
                              top: 0;
                              right: 0;
                              bottom: 0;
                              left: 0;
                              content: "\f0da";
                              font-family: FontAwesome;
                              font-size: 1.8em;
                           }
                        }
                        .results {
                           width: 100.5%;
                           position: absolute;
                           top: 100%;
                           left: -1px;
                           background: #ffffff;
                           height: auto;
                           overflow: hidden;
                           border: 1px solid #d1d1d1;
                           border-top-color: #dddddd;
                           border-bottom: none;
                           border-right: none;
                           @include box-shadow(inset 1px 1px 0px #f2f2f2);
                           @include opacity(0);
                           @include transition-property(all);
                           @include transition-duration(0.17s);
                           @include transition-timing-function(ease-in);
                           li {
                              width: 100%;
                              height: auto;
                              border-bottom: 1px solid #e5e5e5;

                              line-height: 44px;

                              a, &.no-result {
                                 line-height: 44px;
                                 padding: 0 10px;
                                 display: block;
                                 width: 100%;
                                 background: #f1f1f1;
                                 font-size: 0.9em;
                                 font-weight: bold;
                                 color: #000;
                                 text-decoration: none;
                                 border-right: 3px solid #d1d1d1;
                                 &.active {
                                    border-right-color: $color_main_red;
                                    color: $color_main_red;
                                    background: #ffffff;
                                    cursor: default;
                                 }
                                 &:hover {
                                    background: #ffffff;
                                    color: $color_main_red;
                                 }
                              }
                              &:last-child {
                                 border-bottom-color: #d1d1d1;
                              }
                           }
                        }
                        &.hasResults .results, &.searched .results {
                           @include opacity(1);
                        }
                        &.searching {
                           input, button {
                              @include opacity(0.4);
                           }

                           button:after {

                              content: "\f0e2";

                              height: 102%;

                              -webkit-animation: Rotate 500ms infinite linear;
                              -moz-animation: Rotate 500ms infinite linear;
                              -ms-animation: Rotate 500ms infinite linear;
                              -o-animation: Rotate 500ms infinite linear;
                              animation: Rotate 500ms infinite linear;

                              @-o-keyframes Rotate {
                                 from {-o-transform:rotate(0deg);}
                                 to {-o-transform:rotate(-360deg);}
                              }
                              @-moz-keyframes Rotate {
                                 from {-moz-transform:rotate(0deg);}
                                 to {-moz-transform:rotate(-360deg);}
                              }
                              @-ms-keyframes Rotate {
                                 from {-ms-transform:rotate(0deg);}
                                 to {-ms-transform:rotate(-360deg);}
                              }
                              @-webkit-keyframes Rotate {
                                 from {-webkit-transform:rotate(0deg);}
                                 to {-webkit-transform:rotate(-360deg);}
                              }
                              @-keyframes Rotate {
                                 from { transform:rotate(0deg);}
                                 to { transform:rotate(-360deg);}
                              }
                           }
                        }
                     }
                     &.mobilenavi-widget {
                        width: 100%;
                        @include browser(tabletsmall) {display: none}
                        @include clearfix();
                        ul {
                           li {
                              float: none;

                              a {
                                 display: block;
                                 text-align: center;
                                 line-height: 60px;
                                 font-size: 1.1em;
                                 font-weight: bold;
                                 text-transform: uppercase;
                                 color: #000000;
                                 text-decoration: none;
                                 width: 100%;
                                 border-bottom: 1px solid #d1d1d1;
                                 &.active, &:hover {
                                    background: $color_main_red;
                                    color: #ffffff;
                                 }
                              }

                              &:last-child a {
                                 border-bottom: none;
                                 line-height: 56px;
                              }
                           }
                        }
                     }

                  }
               }
            }
            &#main_search {
               display: none;
               width: 30%;
               vertical-align: middle;
               margin-right: 10px;
               input {
                  width: 100%;
                  padding: 0 15px;
                  line-height: 36px;
                  outline: none;
                  font-size: 1em;
                  border: 1px solid #d1d1d1;
                  @include border-radius(5px);

               }
            }
         }
         &.open #quickbuttons.widgets .widget {
            @include opacity(1);
            @include transform(translate(0px, 0px));

         }
      }
   }



}