#app {
  width: 100%;
  height: 100%;
  background: #b1b1b1;
  position: relative;
  overflow: hidden;

  > .loading {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: #eeeeee;

	&:after {
	  content: '';
	  width: 128px;
	  height: 128px;
	  position: absolute;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  margin: auto;
	  background: url('../image/loading-icon-large.gif');
	  @include border-radius(50px);
	}
  }

  #image-background {
	position: absolute;
	width: 100%;
	height: 100%;
	@include background-size(130% 100%);
	background-position: 60% 0;
	background-repeat: no-repeat;
	text-indent: -99999em;
  }
  > .page-wrapper {
	min-width: 320px;
	height: 100%;
	#background-effect {
	  width: 100%;
	  height: 100%;
	}

	&.fullscreen-open {
	  > #page {
		width: 100% !important;
		height: 100% !important;
	  }
	}

	> #page {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  margin: auto;
	  min-width: 320px;
	  max-width: 2420px;

	  html.js & {
		@include transition-property(width, height);
		@include transition-duration(0.15s);
		@include transition-timing-function(ease-in);
	  }

	  @include browser(desktop) {
		width: 94%;
		height: 92%;
	  }

	  @include browser(desktoplarge) {
		width: 93%;
		height: 90%;
	  }
	  @include browser(desktopextreme) {
		width: 89%;
		height: 85%;
	  }

	  > .content {
		position: absolute;
		width: 100%;
		height: 100%;
		@include browser(desktop) {
		  -webkit-border-radius: 10px;
		  -moz-border-radius: 10px;
		  border-radius: 10px;

		  @include box-shadow(0 0 15px rgba(#000000, 0.3))
		}  
	  }
	}
  }
}



.main-content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 74px;

  html.js & {
	overflow: hidden;
  }

  @include browser(desktop) {
	padding-top: 135px;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	.fullscreen-open & {
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0;
	}
  }
  @include browser(desktopextreme) {
	padding-top: 155px;
  }

  #main_content {
	position: relative;
	width: 100%;
	background: #eeeeee;
	height: 100%;
	@include browser(desktop) {
	  -webkit-border-radius: 0 0 10px 10px;
	  -moz-border-radius: 0 0 10px 10px;
	  border-radius: 0 0 10px 10px;
	  .fullscreen-open & {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	  }
	}

	#main_column_left {
	  width: 100%;
	  height: 50px;
	  padding-right: 9px;
	  border-top: 1px solid #e8e8e8;
	  background: #000000;

	  html.js.csstransitions & {
		@include transition-property(all);
		@include transition-duration(0.35s);
		@include transition-timing-function(ease-out);
		@include transform(translateX(0%));
	  }

	  .fullscreen-open & {
		background: rgba(#000000, 1);
	  }
	  position: absolute;
	  z-index: 5;
	  @include browser(desktop) {
		height: 60px;
	  }
	  @include browser(mobiletablet) {
		display: none;
	  }
	  //@include browser(tabletsmalllaptopplus) {
	  //width: 100%;
	  //height: 50px;
	  //}
	  //border-top: 1px solid #e1e1e1;
	  //&:after {
	  //content: '';
	  //width: 9px;
	  //height: 100%;
	  //background: $color_main_red;
	  //position: absolute;
	  //right: 0;
	  //top: 0;
	  //}

	  footer {
		font: 400 0.9em/18px Arial, Helvetica, sans-serif;
		position: absolute;
		width: 100%;
		left: 0;
		height: 70px;
		border-top: 1px solid #111111;
		color: #777777;

		bottom: 0;
		padding: 15px 20px 0 20px;

		display: none;


		//@include browser(laptopplus) {
		//	display: block;
		//}

		h3 {
		  display: block;
		  font-weight: bold;
		  text-transform: uppercase;
		  font-style: italic;
		  color: $color_main_red;
		}

		.bottom {

		  .left {
			float: left;
			line-height: 40px;
		  }

		  button.right {
			width: 30px;
			line-height: 40px;
			float: right;
			text-align: right;
			border: none;
			background: none;
			color: $color_main_red;
			cursor: pointer;

			span { display: none; }

			&.phone {
			  &:after {
				content: "\f10b";
				font-family: FontAwesome;
				font-size: 2.5em;
			  }
			}

			&.email {
			  width: 35px;
			  &:after {
				content: "\f0e0";
				font-family: FontAwesome;
				font-size: 2.15em;
			  }

			}
		  }
		}
	  }
	}

	#main_column_left_widgets {
	  height: 100%;
	  //padding-bottom: 70px;
	}

	#main_column_left_navi {
	  ul {
		@include clearfix;
	  }
	  li {
		float: left;
		margin-left: 6px;
		@include browser(desktop) {
		  margin-left: 8px;
		}
		a {
		  position: relative;
		  display: block;
		  line-height: 43px;
		  background: transparent;
		  color: #fff;
		  text-transform: uppercase;
		  text-decoration: none;
		  font-size: 0.95em;
		  width: 100%;
		  height: 42px;
		  padding-left: 35px;
		  padding-right: 35px;
		  margin-top: 7px;
		  &:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 0%;
			z-index: 1;
			background: #000000;
			border-radius: 8px 8px 0 0;
			@include transition-property(all);
			@include transition-duration(0.35s);
			@include transition-timing-function(ease-out);
		  }

		  span {
			position: relative;
			z-index: 2;
		  }

		  .fullscreen-open & {
			border-top-color: #131313;
		  }

		  .icon {
			display: none;
			font-family: FontAwesome;
			//background: red;
			position: absolute;
			top: 0;
			right: 0;
			font-size: 1.8em;
			//width: 40px;
			width: 100%;
			padding-left: 26px;

		  }


		  @include browser(desktop) {
			line-height: 58px;
			height: 51px;
			font-size: 1.1em;
			padding-left: 40px;
			padding-right: 40px;
			margin-top: 8px;
			//.icon {
			//  padding-left: 26px;
			//}
		  }

		  //&.home .icon:after {  content: "\f015";  }
		  //&.about .icon:after {  content: "\f007";  }
		  //&.portfolio .icon:after {  content: "\f0b1";  }
		  //&.freebies .icon:after {  content: "\f06b";  }
		  //&.contact .icon:after {  content: "\f0e6";  }
		  &:hover:before, &.active:before {
			background: $color_main_red;
			color: #fff;
			height: 100%;

			cursor: pointer;
		  }
		}

	  }
	}

	#main_column_middle {
	  width: 100%;
	  //border-top: 1px solid #d8d8d8
	  html.js.csstransitions & {
		@include transition-property(all);
		@include transition-duration(0.35s);
		@include transition-timing-function(ease-out);
		@include transform(translateX(0%));
	  }

	  @include browser(tabletsmall) {
		background: #eeeeee;
	  }

	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 100%;

	  @include browser(tablet) {
		padding-top: 50px;

	  }
	  @include browser(desktop) {
		padding-top: 60px;
	  }

	  > .content {
		height: 100%;
		position: relative;
		z-index: 2;
		//border-top: 1px solid #e8e8e8;
		@include browser(mobile) {
		  overflow: visible !important;
		}
		.scroll {
		  position: relative;
		  overflow: auto;
		  height: 100%;
		}

		.mCSB_container {
		  margin-right: 10px;
		}

		&.mCS_no_scrollbar .mCSB_container {
		  margin-right: 0;
		}
		@include opacity(1);


		html.js & {
		  @include opacity(0);
		  &.loaded {
			@include opacity(1);
			@include transition-property(opacity);
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);

		  }
		}
		.js .routeLoading & {
		  opacity: 0 !important;
		}
	  }
	  > .loading {
		@include opacity(0);
		position: absolute;
		z-index: 1;
		top: 170px;
		left: 0;
		width: 100%;
		margin: 0 auto 0 auto;

		@include browser(desktop) {
		  top: 250px;
		}


		html.js & {
		  @include transition-property(opacity);
		  @include transition-duration(0.2s);
		  @include transition-timing-function(ease-in);
		}

		span { display: none }
		&:after {
		  content: '';
		  width: 96px;
		  height: 96px;
		  position: absolute;
		  top: 0;
		  left: 0;
		  bottom: 0;
		  right: 0;
		  margin: auto;
		  background: url('../image/loading-icon-large.gif');
		  background-size: 100% 100%;
		  @include border-radius(60px);
		}

		html.js .routeLoading & {
		  @include opacity(1);
		}
	  }
	}
  }
}
